@use 'src/styles/variables' as vars;

.desktop {
    background-color: vars.$desktop-teal;
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
}